/* [project]/src/app/mullerlight_895f2e25.module.css [app-client] (css) */
@font-face {
  font-family: mullerLight;
  src: url("../media/Mullerlight-s.p.902e26cc.ttf") format("truetype");
  font-display: swap;
  font-weight: 100 900;
}

@font-face {
  font-family: mullerLight Fallback;
  src: local(Arial);
  ascent-override: 118.97%;
  descent-override: 26.71%;
  line-gap-override: 0.0%;
  size-adjust: 82.38%;
}

.mullerlight_895f2e25-module__j783IG__className {
  font-family: mullerLight, mullerLight Fallback;
}

.mullerlight_895f2e25-module__j783IG__variable {
  --Mullerlight: "mullerLight", "mullerLight Fallback";
}


/* [project]/src/app/mullerlight_895f2e25.module.css [app-client] (css) */
@font-face {
  font-family: mullerLight;
  src: url("../media/Mullerlight-s.p.902e26cc.ttf") format("truetype");
  font-display: swap;
  font-weight: 100 900;
}

@font-face {
  font-family: mullerLight Fallback;
  src: local(Arial);
  ascent-override: 118.97%;
  descent-override: 26.71%;
  line-gap-override: 0.0%;
  size-adjust: 82.38%;
}

.mullerlight_895f2e25-module__j783IG__className {
  font-family: mullerLight, mullerLight Fallback;
}

.mullerlight_895f2e25-module__j783IG__variable {
  --Mullerlight: "mullerLight", "mullerLight Fallback";
}


/* [project]/src/app/muller_c8d1d53a.module.css [app-client] (css) */
@font-face {
  font-family: muller;
  src: url("../media/Muller-s.p.44002c43.ttf") format("truetype");
  font-display: swap;
  font-weight: 100 900;
}

@font-face {
  font-family: muller Fallback;
  src: local(Arial);
  ascent-override: 74.73%;
  descent-override: 21.08%;
  line-gap-override: 0.0%;
  size-adjust: 104.38%;
}

.muller_c8d1d53a-module__DU8eAW__className {
  font-family: muller, muller Fallback;
}

.muller_c8d1d53a-module__DU8eAW__variable {
  --Muller: "muller", "muller Fallback";
}


/* [project]/src/app/muller_c8d1d53a.module.css [app-client] (css) */
@font-face {
  font-family: muller;
  src: url("../media/Muller-s.p.44002c43.ttf") format("truetype");
  font-display: swap;
  font-weight: 100 900;
}

@font-face {
  font-family: muller Fallback;
  src: local(Arial);
  ascent-override: 74.73%;
  descent-override: 21.08%;
  line-gap-override: 0.0%;
  size-adjust: 104.38%;
}

.muller_c8d1d53a-module__DU8eAW__className {
  font-family: muller, muller Fallback;
}

.muller_c8d1d53a-module__DU8eAW__variable {
  --Muller: "muller", "muller Fallback";
}


/* [project]/src/app/mullerbold_c1335317.module.css [app-client] (css) */
@font-face {
  font-family: mullerBold;
  src: url("../media/MullerBold-s.p.7216e890.ttf") format("truetype");
  font-display: swap;
  font-weight: 100 900;
}

@font-face {
  font-family: mullerBold Fallback;
  src: local(Arial);
  ascent-override: 73.86%;
  descent-override: 20.83%;
  line-gap-override: 0.0%;
  size-adjust: 105.61%;
}

.mullerbold_c1335317-module__86upjG__className {
  font-family: mullerBold, mullerBold Fallback;
}

.mullerbold_c1335317-module__86upjG__variable {
  --MullerBold: "mullerBold", "mullerBold Fallback";
}


/* [project]/src/app/mullerbold_c1335317.module.css [app-client] (css) */
@font-face {
  font-family: mullerBold;
  src: url("../media/MullerBold-s.p.7216e890.ttf") format("truetype");
  font-display: swap;
  font-weight: 100 900;
}

@font-face {
  font-family: mullerBold Fallback;
  src: local(Arial);
  ascent-override: 73.86%;
  descent-override: 20.83%;
  line-gap-override: 0.0%;
  size-adjust: 105.61%;
}

.mullerbold_c1335317-module__86upjG__className {
  font-family: mullerBold, mullerBold Fallback;
}

.mullerbold_c1335317-module__86upjG__variable {
  --MullerBold: "mullerBold", "mullerBold Fallback";
}


/* [project]/src/app/globals.css [app-client] (css) */
*, :before, :after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #3b82f680;
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #3b82f680;
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}

*, :before, :after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

:before, :after {
  --tw-content: "";
}

html, :host {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  line-height: inherit;
}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}

abbr:where([title]) {
  text-decoration: underline dotted;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp, pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

button, select {
  text-transform: none;
}

button, input:where([type="button"]), input:where([type="reset"]), input:where([type="submit"]) {
  -webkit-appearance: button;
  background-color: #0000;
  background-image: none;
}

:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol, ul, menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

dialog {
  padding: 0;
}

textarea {
  resize: vertical;
}

input::placeholder, textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}

button, [role="button"] {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

img, svg, video, canvas, audio, iframe, embed, object {
  display: block;
  vertical-align: middle;
}

img, video {
  max-width: 100%;
  height: auto;
}

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0 20;
  padding-left: 0 20;
}

@media (width >= 640px) {
  .container {
    max-width: 640px;
  }
}

@media (width >= 768px) {
  .container {
    max-width: 768px;
  }
}

@media (width >= 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (width >= 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (width >= 1536px) {
  .container {
    max-width: 1536px;
  }
}

.container {
  max-width: 1120px;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.inset-0 {
  inset: 0;
}

.bottom-\[-100px\] {
  bottom: -100px;
}

.left-0 {
  left: 0;
}

.left-\[18\] {
  left: 18px;
}

.left-\[20\] {
  left: 20px;
}

.right-0 {
  right: 0;
}

.right-\[10\] {
  right: 10px;
}

.right-\[10px\] {
  right: 10px;
}

.right-\[20\] {
  right: 20px;
}

.top-\[10\] {
  top: 10px;
}

.top-\[10px\] {
  top: 10px;
}

.top-\[20\] {
  top: 20px;
}

.top-\[50\%\] {
  top: 50%;
}

.z-0 {
  z-index: 0;
}

.z-\[2\] {
  z-index: 2;
}

.m-auto {
  margin: auto;
}

.mx-\[5\] {
  margin-left: 5px;
  margin-right: 5px;
}

.mb-\[20\] {
  margin-bottom: 20px;
}

.mb-\[20px\] {
  margin-bottom: 20px;
}

.mb-\[30\] {
  margin-bottom: 30px;
}

.mb-\[30px\] {
  margin-bottom: 30px;
}

.mb-\[40\] {
  margin-bottom: 40px;
}

.mb-\[45\] {
  margin-bottom: 45px;
}

.mb-\[50\] {
  margin-bottom: 50px;
}

.mb-\[50px\] {
  margin-bottom: 50px;
}

.mb-\[60\] {
  margin-bottom: 60px;
}

.mb-\[60px\] {
  margin-bottom: 60px;
}

.mr-\[30\] {
  margin-right: 30px;
}

.mr-\[32px\] {
  margin-right: 32px;
}

.mt-\[120\] {
  margin-top: 120px;
}

.mt-\[20\] {
  margin-top: 20px;
}

.mt-\[20px\] {
  margin-top: 20px;
}

.mt-\[32px\] {
  margin-top: 32px;
}

.mt-\[34px\] {
  margin-top: 34px;
}

.mt-\[40\] {
  margin-top: 40px;
}

.mt-\[50px\] {
  margin-top: 50px;
}

.mt-\[53px\] {
  margin-top: 53px;
}

.mt-\[60px\] {
  margin-top: 60px;
}

.mt-\[70px\] {
  margin-top: 70px;
}

.mt-\[8\.25rem\] {
  margin-top: 8.25rem;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

.h-0 {
  height: 0;
}

.h-40 {
  height: 10rem;
}

.h-\[100\%\] {
  height: 100%;
}

.h-\[100vh\] {
  height: 100vh;
}

.h-\[142\] {
  height: 142px;
}

.h-\[1px\] {
  height: 1px;
}

.h-\[24\] {
  height: 24px;
}

.h-\[25px\] {
  height: 25px;
}

.h-\[326px\] {
  height: 326px;
}

.h-\[32\] {
  height: 32px;
}

.h-\[32px\] {
  height: 32px;
}

.h-\[36\] {
  height: 36px;
}

.h-\[38\] {
  height: 38px;
}

.h-\[400px\] {
  height: 400px;
}

.h-\[40px\] {
  height: 40px;
}

.h-\[41\] {
  height: 41px;
}

.h-\[44px\] {
  height: 44px;
}

.h-\[48\] {
  height: 48px;
}

.h-\[4\] {
  height: 4px;
}

.h-\[50vh\] {
  height: 50vh;
}

.h-\[54\] {
  height: 54px;
}

.h-\[60\] {
  height: 60px;
}

.h-\[60px\] {
  height: 60px;
}

.h-\[61px\] {
  height: 61px;
}

.h-\[66px\] {
  height: 66px;
}

.w-\[100\%\] {
  width: 100%;
}

.w-\[116\] {
  width: 116px;
}

.w-\[166\] {
  width: 166px;
}

.w-\[202\] {
  width: 202px;
}

.w-\[218\] {
  width: 218px;
}

.w-\[25px\] {
  width: 25px;
}

.w-\[264px\] {
  width: 264px;
}

.w-\[291px\] {
  width: 291px;
}

.w-\[2\] {
  width: 2px;
}

.w-\[300px\] {
  width: 300px;
}

.w-\[340\] {
  width: 340px;
}

.w-\[36\] {
  width: 36px;
}

.w-\[36px\] {
  width: 36px;
}

.w-\[400px\] {
  width: 400px;
}

.w-\[40px\] {
  width: 40px;
}

.w-\[44px\] {
  width: 44px;
}

.w-\[48\%\] {
  width: 48%;
}

.w-\[50\%\] {
  width: 50%;
}

.w-\[51\] {
  width: 51px;
}

.w-\[61px\] {
  width: 61px;
}

.w-\[640\] {
  width: 640px;
}

.w-\[646\] {
  width: 646px;
}

.w-\[646px\] {
  width: 646px;
}

.w-\[65\.5px\] {
  width: 65.5px;
}

.w-\[80\%\] {
  width: 80%;
}

.w-full {
  width: 100%;
}

.translate-y-\[-100\%\] {
  --tw-translate-y: -100%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-y-\[0\] {
  --tw-translate-y: 0;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-45 {
  --tw-rotate: 45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-90 {
  --tw-rotate: 90deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-\[-90deg\] {
  --tw-rotate: -90deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.cursor-pointer {
  cursor: pointer;
}

.snap-y {
  scroll-snap-type: y var(--tw-scroll-snap-strictness);
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-\[10\] {
  gap: 10px;
}

.gap-\[10px\] {
  gap: 10px;
}

.gap-\[15\.5\] {
  gap: 15.5px;
}

.gap-\[15px\] {
  gap: 15px;
}

.gap-\[16\] {
  gap: 16px;
}

.gap-\[16px\] {
  gap: 16px;
}

.gap-\[17\.5px\] {
  gap: 17.5px;
}

.gap-\[2\.1875rem\] {
  gap: 2.1875rem;
}

.gap-\[20\] {
  gap: 20px;
}

.gap-\[20px\] {
  gap: 20px;
}

.gap-\[24px\] {
  gap: 24px;
}

.gap-\[26px\] {
  gap: 26px;
}

.gap-\[3\.125rem\] {
  gap: 3.125rem;
}

.gap-\[30px\] {
  gap: 30px;
}

.gap-\[32px\] {
  gap: 32px;
}

.gap-\[40px\] {
  gap: 40px;
}

.gap-\[47\.5\] {
  gap: 47.5px;
}

.gap-\[48px\] {
  gap: 48px;
}

.gap-\[50\] {
  gap: 50px;
}

.gap-\[54\] {
  gap: 54px;
}

.gap-\[5\] {
  gap: 5px;
}

.gap-\[8\] {
  gap: 8px;
}

.gap-\[8px\] {
  gap: 8px;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.rounded-\[100\] {
  border-radius: 100px;
}

.rounded-\[10\] {
  border-radius: 10px;
}

.rounded-\[10px\] {
  border-radius: 10px;
}

.rounded-\[20\] {
  border-radius: 20px;
}

.rounded-\[4\] {
  border-radius: 4px;
}

.rounded-\[6px\] {
  border-radius: 6px;
}

.rounded-\[9px\] {
  border-radius: 9px;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-md {
  border-radius: .375rem;
}

.rounded-radius {
  border-radius: var(--radius);
}

.border {
  border-width: 1px;
}

.border-2 {
  border-width: 2px;
}

.border-\[2px\] {
  border-width: 2px;
}

.border-b {
  border-bottom-width: 1px;
}

.border-b-2 {
  border-bottom-width: 2px;
}

.border-black {
  border-color: var(--black_first);
}

.bg-\[\#F1F0F0\] {
  --tw-bg-opacity: 1;
  background-color: rgb(241 240 240 / var(--tw-bg-opacity));
}

.bg-\[\#FCFBFB\] {
  --tw-bg-opacity: 1;
  background-color: rgb(252 251 251 / var(--tw-bg-opacity));
}

.bg-black {
  background-color: var(--black_first);
}

.bg-black_second {
  background-color: var(--black_second);
}

.bg-green_first {
  background-color: var(--green_first);
}

.bg-green_second {
  background-color: var(--green_second);
}

.bg-grey_first {
  background-color: var(--grey_first);
}

.bg-grey_third {
  background-color: var(--grey_third);
}

.bg-white {
  background-color: var(--white);
}

.p-0 {
  padding: 0;
}

.p-\[10px\] {
  padding: 10px;
}

.p-\[18\] {
  padding: 18px;
}

.p-\[20\] {
  padding: 20px;
}

.p-\[20px\] {
  padding: 20px;
}

.p-\[5\] {
  padding: 5px;
}

.px-\[100px\] {
  padding-left: 100px;
  padding-right: 100px;
}

.px-\[130\] {
  padding-left: 130px;
  padding-right: 130px;
}

.px-\[15\] {
  padding-left: 15px;
  padding-right: 15px;
}

.px-\[20\] {
  padding-left: 20px;
  padding-right: 20px;
}

.px-\[20px\] {
  padding-left: 20px;
  padding-right: 20px;
}

.px-\[25\] {
  padding-left: 25px;
  padding-right: 25px;
}

.px-\[30\] {
  padding-left: 30px;
  padding-right: 30px;
}

.px-\[30px\] {
  padding-left: 30px;
  padding-right: 30px;
}

.px-\[35px\] {
  padding-left: 35px;
  padding-right: 35px;
}

.px-\[40\] {
  padding-left: 40px;
  padding-right: 40px;
}

.px-\[60px\] {
  padding-left: 60px;
  padding-right: 60px;
}

.px-\[80px\] {
  padding-left: 80px;
  padding-right: 80px;
}

.px-\[90\] {
  padding-left: 90px;
  padding-right: 90px;
}

.py-\[10\] {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-\[12\] {
  padding-top: 12px;
  padding-bottom: 12px;
}

.py-\[16\] {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-\[20px\] {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-\[22px\] {
  padding-top: 22px;
  padding-bottom: 22px;
}

.py-\[25px\] {
  padding-top: 25px;
  padding-bottom: 25px;
}

.py-\[80\] {
  padding-top: 80px;
  padding-bottom: 80px;
}

.py-\[80px\] {
  padding-top: 80px;
  padding-bottom: 80px;
}

.py-\[90px\] {
  padding-top: 90px;
  padding-bottom: 90px;
}

.pb-\[1\.5rem\] {
  padding-bottom: 1.5rem;
}

.pb-\[10\] {
  padding-bottom: 10px;
}

.pb-\[10px\] {
  padding-bottom: 10px;
}

.pb-\[20px\] {
  padding-bottom: 20px;
}

.pb-\[24px\] {
  padding-bottom: 24px;
}

.pb-\[30\] {
  padding-bottom: 30px;
}

.pb-\[30px\] {
  padding-bottom: 30px;
}

.pb-\[48px\] {
  padding-bottom: 48px;
}

.pb-\[50px\] {
  padding-bottom: 50px;
}

.pb-\[60\] {
  padding-bottom: 60px;
}

.pb-\[6\] {
  padding-bottom: 6px;
}

.pb-\[7\] {
  padding-bottom: 7px;
}

.pl-\[64\] {
  padding-left: 64px;
}

.pr-\[40\] {
  padding-right: 40px;
}

.pr-\[5\] {
  padding-right: 5px;
}

.pt-\[14px\] {
  padding-top: 14px;
}

.pt-\[15\] {
  padding-top: 15px;
}

.pt-\[18\] {
  padding-top: 18px;
}

.pt-\[20\] {
  padding-top: 20px;
}

.pt-\[40\] {
  padding-top: 40px;
}

.pt-\[45\] {
  padding-top: 45px;
}

.pt-\[50\] {
  padding-top: 50px;
}

.pt-\[5px\] {
  padding-top: 5px;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.font-\[MullerBold\] {
  font-family: MullerBold;
}

.font-\[MullerLight\] {
  font-family: MullerLight;
}

.font-sans {
  font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.text-5xl {
  font-size: 3rem;
  line-height: 1;
}

.text-\[1\.5rem\] {
  font-size: 1.5rem;
}

.text-\[14px\] {
  font-size: 14px;
}

.text-\[18px\] {
  font-size: 18px;
}

.text-\[24px\] {
  font-size: 24px;
}

.text-\[26px\] {
  font-size: 26px;
}

.text-\[32px\] {
  font-size: 32px;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-sm {
  font-size: .875rem;
  line-height: 1.25rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-xs {
  font-size: .75rem;
  line-height: 1rem;
}

.font-black {
  font-weight: 900;
}

.font-extrabold {
  font-weight: 800;
}

.leading-4 {
  line-height: 1rem;
}

.leading-8 {
  line-height: 2rem;
}

.tracking-\[5\] {
  letter-spacing: 5px;
}

.tracking-wide {
  letter-spacing: .025em;
}

.text-\[\#1E2128\] {
  --tw-text-opacity: 1;
  color: rgb(30 33 40 / var(--tw-text-opacity));
}

.text-\[\#50535A\] {
  --tw-text-opacity: 1;
  color: rgb(80 83 90 / var(--tw-text-opacity));
}

.text-\[\#A7ABAD\] {
  --tw-text-opacity: 1;
  color: rgb(167 171 173 / var(--tw-text-opacity));
}

.text-\[7\] {
  color: 7;
}

.text-black {
  color: var(--black_first);
}

.text-green_first {
  color: var(--green_first);
}

.text-grey_second {
  color: var(--grey_second);
}

.text-grey_third {
  color: var(--grey_third);
}

.text-white {
  color: var(--white);
}

.text-yellow {
  color: var(--yellow);
}

.underline {
  text-decoration-line: underline;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.opacity-\[0\.5\] {
  opacity: .5;
}

.shadow-\[0_-4px_6px_-1px_\#0000001a\] {
  --tw-shadow: 0 -4px 6px -1px #0000001a;
  --tw-shadow-colored: 0 -4px 6px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-\[0_0_10px_0_\#00000014\] {
  --tw-shadow: 0 0 10px 0 #00000014;
  --tw-shadow-colored: 0 0 10px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-\[0_0_4px_0_\#00000029\] {
  --tw-shadow: 0 0 4px 0 #00000029;
  --tw-shadow-colored: 0 0 4px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-\[0_0_6px_0_\#0000001A\] {
  --tw-shadow: 0 0 6px 0 #0000001a;
  --tw-shadow-colored: 0 0 6px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-md {
  --tw-shadow: 0 4px 6px -1px #0000001a, 0 2px 4px -2px #0000001a;
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-none {
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-shadow_first {
  --tw-shadow: var(--shadow_first);
  --tw-shadow-colored: var(--shadow_first);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.outline-none {
  outline: 2px solid #0000;
  outline-offset: 2px;
}

.invert-\[56\%\] {
  --tw-invert: invert(56%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.backdrop-blur-\[10px\] {
  --tw-backdrop-blur: blur(10px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.transition-transform {
  transition-property: transform;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s;
}

.duration-100 {
  transition-duration: .1s;
}

.duration-200 {
  transition-duration: .2s;
}

:root {
  --black_first: #1e2128;
  --black_second: #32353c;
  --white: #fff;
  --grey_first: #faf9f9;
  --grey_second: #aaadb4;
  --grey_third: #d9dddf;
  --yellow: #e4a529;
  --green_first: #20cf5b;
  --green_second: #20cf5b0f;
  --shadow_first: 0 0 10px 0 #00000014;
  --radius: 10px;
}

* {
  cursor: url("/icons/cursor.png"), auto;
}

* :active {
  cursor: url("/icons/cursorclick.png"), auto;
}

body {
  color: var(--black);
  background: var(--grey_first);
  font-family: var(--Muller);
}

a {
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  accent-color: var(--black);
}

.scroll_style::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--grey_third);
}

.scroll_style::-webkit-scrollbar {
  width: 5px;
  background-color: #fff0;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:checked {
  accent-color: var(--black_first);
}

.placeholder\:text-black::placeholder {
  color: var(--black_first);
}

.after\:ml-0\.5:after {
  content: var(--tw-content);
  margin-left: .125rem;
}

.after\:text-red-500:after {
  content: var(--tw-content);
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity));
}

.after\:content-\[\"шт\"\]:after {
  --tw-content: "шт";
  content: var(--tw-content);
}

.hover\:scale-105:hover {
  --tw-scale-x: 1.05;
  --tw-scale-y: 1.05;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hover\:border-black:hover {
  border-color: var(--black_first);
}

.hover\:bg-black:hover {
  background-color: var(--black_first);
}

.hover\:bg-white:hover {
  background-color: var(--white);
}

.hover\:text-black:hover {
  color: var(--black_first);
}

.hover\:text-white:hover {
  color: var(--white);
}

.hover\:invert-\[100\%\]:hover {
  --tw-invert: invert(100%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

@media (width >= 768px) {
  .md\:flex {
    display: flex;
  }

  .md\:w-\[38\%\] {
    width: 38%;
  }

  .md\:shadow-\[0_0_10px_0_\#00000014\] {
    --tw-shadow: 0 0 10px 0 #00000014;
    --tw-shadow-colored: 0 0 10px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }
}

@media (width >= 1024px) {
  .lg\:block {
    display: block;
  }

  .lg\:hidden {
    display: none;
  }

  .lg\:px-0 {
    padding-left: 0;
    padding-right: 0;
  }
}


/*# sourceMappingURL=src_app_ab2e5e._.css.map*/
