@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MullerLight';
  src: url('/fonts/MullerLight.ttf') format('truetype');
  font-weight: 100 900;
}

@font-face {
  font-family: 'Muller';
  src: url('/fonts/Muller.ttf') format('truetype');
  font-weight: 100 900;
}

@font-face {
  font-family: 'MullerBold';
  src: url('/fonts/MullerBold.ttf') format('truetype');
  font-weight: 100 900;
}

:root {
  --black_first: #1E2128;
  --black_second: #32353C;

  --white:#ffffff;
  /* --white:#f1e7bf; */

  --grey_first: #FAF9F9;
  /* --grey_first: #ac2335; */
  /* --grey_first: #b17e5a; */
  
  --bg_modal: #1E212838;

  --grey_second: #AAADB4;
  --grey_third: #D9DDDF;

  --yellow: #E4A529;

  --green_first: #20CF5B;
  --green_second: #20CF5B0F;

  --shadow_first:0 0 10px 0 #00000014;
  --radius:10px;
}



*{
  cursor: url("/icons/cursor.png"),auto ;
  /* filter: invert(1); */
  :active {
    cursor: url("/icons/cursorclick.png"),auto ;
  }
}

body {
  color: var(--black);
  background: var(--grey_first);
  font-family: 'Muller';
}

button {
  :hover {
    cursor:pointer !important ;
  }

}

button:active {
    cursor: pointer !important;

}

a {
  display: flex;
  align-items: center;
  justify-content: center;
  :hover {
    cursor:pointer
  }
}

.load_card_bg {
  background: linear-gradient(180deg, #FFFFFF 9.5%, #DCDCDC 64.5%, #B7B7B7 100%);
}

input[type='checkbox'] {
  width: 16px;  
  height: 16px;  
  accent-color: var(--black); 
}


.scroll_style::-webkit-scrollbar-thumb {
  border-radius: 5px;
 background-color: var(--grey_third);
}

.scroll_style::-webkit-scrollbar {
  width: 5px;
 background-color: rgba(255, 255, 255, 0);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

input:checked {
  accent-color: var(--black_first);
}

.accordion__summary {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.accordion__content {
  display: grid;
  grid-template-rows: 0fr;
  transition: 0.3s;
}

.accordion__content__body {
  overflow: hidden;
  padding-top: 2px;
}


.accordion__details[open] + .accordion__content {
  grid-template-rows: 1fr;

}
.accordion__details{
  svg {
    transform: rotate(-90deg);
   }
}
.accordion__details[open]{
  svg {
    transform: rotate(0deg);
   }
}


@layer components {
  .container {
    max-width: 1120px;
    /* max-width: 1300px; */
  }
}

@media screen and (max-width: 768px) {
  body {
    background: white;
  }
  /* .container {
    padding-left: 20px;
    padding-right: 20px;
  } */
}

.select {
  background-position: 95% 50%;
  border-radius: 5px;
  margin-right: 2%;
  margin-bottom: 20px;
  width: 220px;
  height: 30px;
}

select>option {
  background-color: transparent;
  border: 0;
  padding-right: 15px;
  height: 31px;
  width: 220px;
}

.select>select {
  width: 100%;
  color: black;
  font-size: 14px;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  line-height: 2.5;
  background: transparent;
  border: 0;
  overflow: hidden;
  -webkit-appearance: none;
  -moz-appearance: none;
}